doctype html
html
  header
    title Chat Page #{username}
    link(rel='stylesheet' href='design/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='design/custom/style.css')
  body
    block content
    
    footer.thisfooter
      hr
      p Copyright &copy; 2017 Renato Bylykbashi
