doctype html
html
  header
    title Chat Page #{username}
    link(rel='stylesheet' href='design/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='design/custom/style.css')
  body
    block content
    hr
    footer
      p.thisfooter Copyright &copy; 2017 Renato Bylykbashi
