doctype html
html
  header
    title Chat Page #{username}
    link(rel='stylesheet' href='design/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='design/custom/style.css')
  body
    block content

    footer.thisfooter

      p Copyright &copy; 2017 Renato Bylykbashi
      script(src='design/jquery/dist/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js')
      script(type='text/javascript').
       client = new Paho.MQTT.Client('127.0.0.1', 80 , 'client_#{username}');
       client.connect({onSuccess:onConnect});
       client.onMessageArrived = onMessageArrived;
       function onConnect() {
        console.log("Connected to chatroom !");
        client.subscribe("chatroom",1);
        client.subscribe("chatroomOnlineUsers",1);
        message = new Paho.MQTT.Message('#{username}');
        message.destinationName = "chatroomOnlineUsers";
        message.qos = 1;
        client.send(message);
       }
       
       function onMessageArrived(message){
         console.log("In the topic "+ message.destinationName + " with user : " + message.payloadString);
         if(message.destinationName == 'chatroomOnlineUsers'){
           $('.chat_body').append('<div class="user">'+ message.payloadString +'<div>');
         }
       }
      script(src='design/scripts/chatScript.js')
